@tailwind base;
@tailwind components;
@tailwind utilities;

.fit {
  min-height: calc(100vh - 88px);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply bg-[#030114] text-[#f9f9f9] font-body;
  }
}

@layer components {
  .header-link {
    @apply flex cursor-pointer items-center space-x-2;
  }

  .span {
    @apply relative uppercase text-sm font-medium before:bg-[#f9f9f9]
    before:rounded-bl before:-bottom-1.5 before:h-0.5 before:inset-x-0 
    before:absolute before:transform before:origin-left before:scale-x-0 
    before:transition-all before:duration-200 group-hover:before:scale-x-100;
  }
}